mixin participant(post, committee, member)
  .dash_b_participant
    .participant_avatar
      - if (committee || member)
        img(src='./img/member.png')
      - else
        img(src='./img/participant.png')
    .participant_name Долгов Ч.М.
    .participant_post= post 
    - if (committee)
      .participant_committee= committee

mixin dash_b_menu()
  .menu_holder
    .dash_b_menu_btn.dashMenuBtn: .dash_b_menu_icon
    .dash_b_menu_w.menu_w
      ul.dash_b_menu_list
        li.dash_menu_group
          span.mb Действия
        li: a.dash_menu_link(href='#')
          span.mb Редактировать
        li: a.dash_menu_link(href='#')
          span.mb Перейти к оформлению
        li: a.dash_menu_link(href='#')
          span.mb Удалить
      ul.dash_b_menu_list
        li.dash_menu_group
          span.mb Cтатус
        li: a.dash_menu_link(href='#')
          span.mb.dash_m_status._in_process
          span.mb В ПРОЦЕССЕ
        li: a.dash_menu_link(href='#')
          span.mb.dash_m_status._new
          span.mb НОВАЯ
        li: a.dash_menu_link(href='#')
          span.mb.dash_m_status._completed
          span.mb ЗАВЕРШЕНО
          
mixin file_menu()
  .menu_holder
    .dash_b_menu_btn.dashMenuBtn: .dash_b_menu_icon
    .dash_b_menu_w.menu_w
      ul.dash_b_menu_list
        li.dash_menu_group
          span.mb Действия
        li: a.dash_menu_link(href='#')
          span.mb Редактировать
        li: a.dash_menu_link(href='#')
          span.mb Перейти к оформлению
        li: a.dash_menu_link(href='#')
          span.mb Удалить
      ul.dash_b_menu_list
        li.dash_menu_group
          span.mb Cтатус
        li: a.dash_menu_link(href='#')
          span.mb.dash_m_status._in_process
          span.mb В ПРОЦЕССЕ
        li: a.dash_menu_link(href='#')
          span.mb.dash_m_status._new
          span.mb НОВАЯ
        li: a.dash_menu_link(href='#')
          span.mb.dash_m_status._completed
          span.mb ЗАВЕРШЕНО
          
mixin meeting_box(date, status, author, active)
  .dash_box
    .dash_box_inner._meeting.goTo(data-goto='meeting.html')
      - if (active)
        .arrow_current
      .fl
        .mb
          .dash_b_date
            .day= date
            .month сентября
        .mb
          .dash_b_info.fl
            .dash_b_caption №241, с 17:00 до 19:00
            p= author
      .fr
        .mb
          - if (status == '_in_process')
            a.btn_v1.dash_btn.btn_blue.openForm(data-href='#vote_popup' href='#' data-step='1'): span ПЕРЕЙТИ К ГОЛОСОВАНИЮ
          - else if (status == '_in_preparation')
            | &nbsp;
          - else
            a.btn_v1.dash_btn.btn_green(href='#') ПРОТОКОЛ ЗАСЕДАНИЯ
        .mb
          a.dash_b_status.openForm(href='#' data-href='#vote_popup' data-step='3' class= status ? status : '_completed')
            - if (status == '_in_process')
              | В ПРОЦЕССЕ
            - else if (status == '_new')
              | НОВАЯ
            - else if (status == '_in_preparation')
              | ПОДГОТОВКА
            - else
              span.dash_b_status_counter
                span.mb.i-check.dash_b_icon
                span.mb 10
              span.dash_b_status_counter
                span.mb.i-cross.dash_b_icon
                span.mb 5
              span.dash_b_status_counter
                span.mb.i-circle-minus.dash_b_icon
                span.mb 2
        .mb
          +dash_b_menu()

mixin instruction_box(date, status, has_vote)
  .dash_box
    .dash_box_inner._mission.goTo(data-goto='task.html')
      .fl
        .mb
          .dash_b_date
            - if (date)
              .day= date
              .month сентября
            - else
              a.dash_b_control.clr_orange(href='#')
                span.i-list

        .mb
          .dash_b_info.fl._meetings_mod
            p Текст документа подготовлен. Необходим согласовать дополнительные гарантийные обязательства
      .fr
        .mb
          a.dash_b_status.openForm(href='#' data-href='#vote_popup' data-step='3' class= status ? status : '_completed')
            - if (status == '_in_process')
              | ИСПОЛНЯЕТСЯ
            - else if (status == '_new')
              | НОВАЯ
            - else if (status == '_in_preparation')
              | ПОДГОТОВКА
            - else
              span.dash_b_status_counter
                span.mb.i-check.dash_b_icon
                span.mb 10
              span.dash_b_status_counter
                span.mb.i-cross.dash_b_icon
                span.mb 5
              span.dash_b_status_counter
                span.mb.i-circle-minus.dash_b_icon
                span.mb 2
        .mb
          +dash_b_menu()

mixin question_box(date, status, mod_1, mod_2, mod_3, has_vote)
  .dash_box
    .dash_box_inner._question.goTo(data-goto='question.html')
      .fl
        .mb
          .dash_b_date
            - if (date)
              .day= date
              .month сентября
            - else
              a.dash_b_control.clr_blue(href='#')
                span.i-help

        .mb
          .dash_b_info.fl(class= (mod_1 ? '' : '_meetings_mod'))
            - if (mod_1)
              .dash_b_caption №244, с 17:00 до 19:00
              p Управляющий комитет
            - else if (mod_2)
              p Текст документа подготовлен. Необходимо согласовать дополнительные гарантийные обязательства
            
            - else if (mod_3)
              .dash_b_caption №244, с 17:00 до 19:00
              p Управляющий комитет
            - else
              .dash_b_caption №21
                span  Комитет по проектам и процессам
              p Текст документа подготовлен. Необходимо согласовать дополнительные гарантийные
      .fr
        - if (has_vote)
          .mb
            a.btn_v1.dash_btn.btn_blue.openForm(data-href='#vote_popup' href='#' data-step='1'): span ПЕРЕЙТИ К ГОЛОСОВАНИЮ
        - if (status != false)
          .mb
            - if (status == '_approved')
              .dash_b_status._name.openForm(data-href='#vote_popup' data-step='3' class= status ? status : '_completed') УТВЕРЖДЕН
            - else if (status == '_rejected')
              .dash_b_status._name.openForm(data-href='#vote_popup' data-step='3' class= status ? status : '_completed') ОТКЛОНЕН
            a.dash_b_status.openForm(href='#' data-href='#vote_popup' data-step='3' class= status ? status : '_completed')
              - if (status == '_in_process')
                | ИСПОЛНЯЕТСЯ
              - else if (status == '_new')
                | НОВАЯ
              - else if (status == '_in_preparation')
                | ПОДГОТОВКА
              - else
                span.dash_b_status_counter
                  span.mb.i-check.dash_b_icon
                  span.mb 10
                span.dash_b_status_counter
                  span.mb.i-cross.dash_b_icon
                  span.mb 5
                span.dash_b_status_counter
                  span.mb.i-circle-minus.dash_b_icon
                  span.mb 2

        .mb
          +dash_b_menu()

mixin action_brief(date, status, brief_menu, users, counter, progress, points, rm, check_class, extra_info, add_class, no_help, no_vote)
  .dash_box
    .dash_box_inner
      - if (rm)
        span.btn_red_2.unit_rm_btn.rmBtn
      .fl
        .mb
          .dash_b_date
            - if (counter)
              .dash_b_control.clr_blue
                span= counter
            - if (date)
              .day= date
              .month сентября
            - else
              - if (no_help)
                  | 
              - else
                a.dash_b_control.clr_blue(href='#')
                  span.i-help
      .fl
        .mb
          .dash_b_info(class= add_class)
            - if (points != undefined)
              - for pnt in points
                .dash_b_point(class= !check_class ? '' : '_checked')
                  - if (extra_info)
                    .dash_b_caption №21
                      span  Комитет по проектам и процессам
                    div= pnt
                  - else
                    = pnt
            - else
              .dash_b_location
                span  Офис 302, 3 этаж, главное здание корпус А, Москва, шоссе Энтузиастов, 12, 2

      .fr
        .mb
          - if (status == '_approved')
            .dash_b_status._name.openForm(data-href='#vote_popup' data-step='3' class= status ? status : '_completed') УТВЕРЖДЕН
          - else if (status == '_rejected')
            .dash_b_status._name.openForm(data-href='#vote_popup' data-step='3' class= status ? status : '_completed') ОТКЛОНЕН
         
          a.dash_b_status.openForm(href='#' data-href='#vote_popup' data-step='3' class= status ? status : '_completed')
            - if (status == '_in_process')
              | ПРОВОДИТСЯ
            - else if (status == '_new')
              | НОВАЯ
            - else if (status == '_in_preparation')
              | ПОДГОТОВКА
            - else if (status == '_in_vote')
              | НА ГОЛОСОВАНИИ
            - else if (status == '_in_review')
              | РАССМАТРИВАЕТСЯ
            - else
              span.dash_b_status_counter
                span.mb.i-check.dash_b_icon
                span.mb 10
              span.dash_b_status_counter
                span.mb.i-cross.dash_b_icon
                span.mb 5
              span.dash_b_status_counter
                span.mb.i-circle-minus.dash_b_icon
                span.mb 2

        - if (brief_menu)
          .mb
            +dash_b_menu()


      - if (users == 0)
        .participants_block
  
          ul.participants_list
            li
              +participant('Ответственный')
            li
              .participant_post Комитет по проектам и процессам
        
      - if (users > 0)
        .participants_block
          - if (no_vote)
            | 
          - else
            .participant_vote
              a.btn_v1.dash_btn.btn_blue.openForm(data-href='#vote_popup' href='#' data-step='1'): span ПЕРЕЙТИ К ГОЛОСОВАНИЮ
            
          - if (users > 1)
            ul.participants_list
              li
                +participant('Председатель')
              li
                +participant('Секретарь')
    
          - else if (users == 1)
            ul.participants_list
              li
                +participant('Инициатор')
    
              - if (progress)
                li
                  .action_progress_block
                    .action_progress_time
                      span.mb 15:59
                      .mb
                        .action_progress_box
                          .action_progress_val(style='width: 90%;')
                    p Минут на вопрос
        

mixin time_picker()
  .time_picker_w.menu_w.timePickerDD
    .form_row
      .form_cell._s_50
        .f_label ЧАСЫ
        .input_w.valCell
          input.valH.input_v1.f_input._inp_black.text_center(readonly value='12' data-min='8' data-max='17' data-step='1')
          .val_btn.minus.timeMinus &ndash;
          .val_btn.plus.timePlus +
      .form_cell._s_50
        .f_label МИНУТЫ
        .input_w.valCell
          input.valM.input_v1.f_input._inp_black.text_center(readonly value='00' data-min='0' data-max='50' data-step='10')
          .val_btn.minus.timeMinus &ndash;
          .val_btn.plus.timePlus +
