mixin radio_toggle(on, off, flags)
  label.radio_toggle(class= flags != undefined ? '_flag' : '')
    input.hide(type='checkbox')
    span.radio_text._on
      - if (flags != undefined && flags.length > 0)
        img.flag_img(src=flags[0])
      span= on
    span.radio_text._off
      - if (flags != undefined && flags.length > 1)
        img.flag_img(src=flags[1])
      span= off

mixin loop_while(counter)
  -i=0;
  while i < counter
    -i++;
    block
      
block variables
  
- var scriptsArr= ['vendors/jquery1.10.js','vendors/snabbt.min.js','vendors/flexibility.js'];

- if (customScripts != undefined)
  - for scr in customScripts
    - scriptsArr.push(scr);

- scriptsArr.push('main.js');
  
include page
include ../utils/scripts

doctype html
html(lang='ru' class=htmlClass || '')
  include head
  +page(bodyClass || '')
    block content

    - if (!loginPage)
      include popups
      +scripts(scriptsArr)
