mixin radio_toggle(on, off, flags)
  label.radio_toggle(class= flags != undefined ? '_flag' : '')
    input.hide(type='checkbox')
    span.radio_text._on
      - if (flags != undefined && flags.length > 0)
        img.flag_img(src=flags[0])
      span= on
    span.radio_text._off
      - if (flags != undefined && flags.length > 1)
        img.flag_img(src=flags[1])
      span= off

mixin collegial_unit(txt)
  .collegial_unit.rmUnit
    span.btn_red_2.unit_rm_btn.rmBtn
    p= txt
      
mixin file_upload(loading)
  .upload_file.rmUnit(class= loading ? '_loading' : '')
    span.btn_red_2.unit_rm_btn.rmBtn
    .mb
      span.upload_icon
        img(src='./img/file_doc.svg')
        //-span.i-cross
    .upload_name.mb Dogovor_23_05_2016-idjjjh2.pdf
    - if (loading)
      .loading_progress
        .loading_progress_val(style='width: 76%;')
        .loading_progress_text 76%
        
      
mixin files(dir)
  ul.material_list._full_w._file_catalog
    li
      ul.file_path
        li._active: span.path_link(href='#') Материалы вопроса
        li: a.path_link(href='#') Имя папки
        li: a.path_link(href='#') Имя подпапки
        
    - if (dir)
      li
        .upload_file._has_menu
          .mb
            span.upload_icon
              img(src='./img/folder.svg')
          .upload_name.mb Документация
          .fr
             ul.file_menu
              li 01.02.2017 14:53
              li 
               a.dash_b_status._prev_ver._fw_n.openForm_(href='#') Прежние версии
    - else
      li
        .upload_file._has_menu.goTo(data-goto='./img/doc_1.jpg')
          .mb
            span.upload_icon
              img(src='./img/file_pdf.svg')
          .upload_name.mb Dogovor_23_05_2016-idjjjh2.pdf
          .fr
             ul.file_menu
               li 01.02.2017 14:53 
               li
                 a.dash_b_status._prev_ver._fw_n.openForm_(href='#') Прежние версии

    li
      .upload_file._has_menu
        .mb
          span.upload_icon
            img(src='./img/file_pdf.svg')
        .upload_name.mb Intro.pdf
        .fr
           ul.file_menu
             li 01.02.2017 14:53         
             li
               a.dash_b_status._prev_ver._fw_n.openForm_(href='#') Прежние версии

    li
      .upload_file._has_menu
        .mb
          span.upload_icon
            img(src='./img/file_pdf.svg')
        .upload_name.mb Wеlcome-to-biejing.pdf
        .fr
           ul.file_menu
             li 01.02.2017 14:53         
             li
               a.dash_b_status._prev_ver._fw_n.openForm_(href='#') Прежние версии
               
          
mixin member_search(id)
  .member_search_w.menu_w
    .member_search_header
      label.dash_b_label(for='member_search_' + (id ? id : 0)) Поиск участников по имени или комитету
      form(action='#')
        .input_w.has_icon
          input.f_input.input_v1._inp_black(placeholder='Поиск' id= 'member_search_' + (id ? id : 0))
          button.search_submit.i-search._small
      
    ul.add_list
      li
        .dash_b_label Приглашенные участники
      +loop_while(7)
        li
          .add_item
            label.check_v1
              input.hide(type='checkbox')
              span.check_text
            +participant('Руководитель', 'Комитет по проектам и процессам')
              
        
    .member_search_footer
      a.btn_v1.dash_btn.btn_green_2(href='#') ВЫБРАТЬ УЧАСТНИКОВ
      
mixin loop_while(counter)
  -i=0;
  while i < counter
    -i++;
    block
      
block variables
  
- var scriptsArr= ['vendors/jquery1.10.js','vendors/snabbt.min.js','vendors/flexibility.js'];

- if (customScripts != undefined)
  - for scr in customScripts
    - scriptsArr.push(scr);

- scriptsArr.push('main.js');
  
include page
include ../utils/scripts

doctype html
html(lang='ru' class=htmlClass || '')
  include head
  +page(bodyClass || '')
    block content

    - if (!loginPage)
      include popups
      +scripts(scriptsArr)
